/* ========================== Font api ========================= */
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

/*============================ Root section start ============= */
:root {
  --greenis--color: #9d9863;
  --green--color: #19ae55;
  --orange--color: #ff8450;
  --white--color: #fff;
  --font-family: "Roboto", sans-serif;
  --text-color: #224859;
}

html,
body {
  max-width: 100%;
  overflow-x: hidden;
}

/*============================ Root section end ================ */
/*============================ Top section start ================ */
.top {
  background-color: var(--greenis--color);
}

.top p {
  color: var(--white--color);
  font-family: var(--font-family);
  font-size: 18px;
  font-weight: 400;
  padding: 7px 0px;
}

/*============================ Top section end ================ */
/*============================ Top logo section start ========= */
.benifit {
  display: flex;
  flex-direction: row;
}

.benifits-text {
  margin: -10px 5px;
  padding: 2px 3px;
}

.benifits-text span {
  font-family: var(--font-family);
  font-size: 14px;
  font-weight: 300;
}

.benifits-text p {
  font-family: var(--font-family);
  font-size: 16px;
  font-weight: 600;
  color: var(--text-color);
}

.benifits-section {
  background: #ebebeb;
  padding: 13px 0px;
}

/*============================ Top logo section end ========= */
/*============================ Hero section start  ========= */

.hero-section {
  background-image: url(../images/hero-section/bg.svg);
  background-repeat: no-repeat;
  background-size: cover;
  width: 100vw;
  height: 670px;
}

.hero-text {
  margin-top: 90px;
}

.hero-text p {
  color: var(--white--color);
}

.hero-text img {
  position: absolute;
}

.hero-text .rating {
  margin: -3px 90px;
  font-family: var(--font-family);
  font-size: 18px;
  font-weight: 400;
}

.hero-text .rating span {
  color: var(--orange--color);
}

.hero-text .hero-main-text {
  font-family: var(--font-family);
  font-size: 46px;
  font-weight: 900;
  color: var(--white--color);
  margin-top: 12px;
}

.hero-text .hero-para {
  margin-top: 12px;
  font-family: var(--font-family);
  font-size: 22px;
  font-weight: 300;
}

.profile-section {
  background-color: #193847;
  border-radius: 10px;
  width: 500px;
  height: 250px;
}

.five-star {
  margin-left: 60px;
  margin-top: 22px;
}

.profile-para {
  padding: 22px 22px;
  margin-top: 11px;
  padding-left: 89px;
  font-family: var(--font-family);
  font-size: 14px;
  font-weight: 300;
  color: var(--white--color);
}

.profile-para {
  font-family: var(--font-family);
  font-size: 14px;
  font-weight: 300;
}

.profile-picture {
  margin-top: 18px;
  margin-left: 35px;
}

.five-star {
  margin-left: 102px;
  margin-top: 40px;
}

.form-control {
  width: 90%;
}

/*============================ Hero section end ========= */
/*============================ Hero form section start ========= */

/* hero form start  */
.hero-form {
  margin-top: 60px;
  background-color: var(--white--color);

  border-radius: 10px;
  padding: 13px 46px;

  border: 5px solid var(--orange--color);
}

.form-head-para {
  font-family: var(--font-family);
  font-size: 33px;
  font-weight: 900;
  color: var(--orange--color);
}

.from-para {
  font-family: var(--font-family);
  font-size: 17px;
  font-weight: 400;
  color: var(--text-color);
}

.from-para span {
  color: var(--green--color);
}

.agree-para {
  font-family: var(--font-family);
  font-size: 14px;
  font-weight: 400;
  color: var(--text-color);
}

.agree-para span {
  color: var(--text-color);
  font-family: var(--font-family);
  font-size: 14px;
  font-weight: 700;
}

.btn {
  font-family: var(--font-family);
  font-size: 20px;
  background-color: var(--green--color);
  color: var(--white--color);
  font-weight: 900;
  width: 500px;
  margin-top: 3px;
}

.btn:hover {
  color: var(--white--color);
}

.from-end-para {
  font-family: var(--font-family);
  font-size: 15px;
  font-weight: 400;
  line-height: 18px;
  margin-top: 18px;
  margin-bottom: 34px;
}

.from-end-para span {
  font-family: var(--font-family);
  font-size: 15px;
  font-weight: 700;
  color: var(--orange--color);
}

.btn {
  width: 426px;
}

.verified {
  font-family: var(--font-family);
  font-size: 14px;
  font-weight: 400;
}

.name {
  position: absolute;
}

.tick {
  margin-left: 335px;
}

.name {
  margin-left: 30px;
}

/*============================ Hero form section end ========= */
.video-section {
  background-image: url(../images/video-section/background.svg);
  background-repeat: no-repeat;
  background-size: cover;
}

.video-header {
  font-family: var(--font-family);
  font-size: 46px;
  font-weight: 900;
  color: var(--white--color);
}

.first-para {
  font-family: var(--font-family);
  font-size: 19px;
  font-weight: 600;
  color: var(--white--color);
}

.sechond-para {
  font-family: var(--font-family);
  font-size: 16px;
  font-weight: 300;
  color: var(--white--color);
}

.play {
  margin-top: 41%;
  margin-left: 50%;
}

/* --------- */
.info-head {
  font-family: var(--font-family);
  font-size: 46px;
  font-weight: 900;
  color: var(--text-color);
}

.info-para {
  font-family: var(--font-family);
  font-size: 22px;
  font-weight: 300;
  color: var(--text-color);
}

.info-1-head {
  font-family: var(--font-family);
  font-size: 32px;
  font-weight: 600;
  color: var(--text-color);
}

.info-1-para {
  font-family: var(--font-family);
  font-size: 16px;
  font-weight: 400;
  color: var(--text-color);
}

.info-profile-section {
  background-color: var(--text-color);
  font: var(--font-family);
  border-radius: 10px;
  margin-top: -90px;
  margin-left: 79px;
  width: 443px;
  height: 201px;
}

.info-name {
  position: absolute;
}

.info-tick {
  margin-left: 239px;
}

.info-profile-para {
  color: var(--white--color);
}

.info-name {
  color: var(--white--color);
}


 .box{
  padding: 0px;
  margin: 0px;
 }













 .carousel-control-prev-icon,
 .carousel-control-next-icon {
   height: 100px;
   width: 100px;
   outline: black;
   background-size: 100%, 100%;
   border-radius: 50%;
   
   background-image: none;
 }
 
 .carousel-control-next-icon:after
 {
   content: '>';
   font-size: 55px;
   color: rgb(0, 0, 0);
 }
 
 .carousel-control-prev-icon:after {
   content: '<';
   font-size: 55px;
   color: rgb(0, 0, 0);
 }


/* responsive code  */
@media (min-width: 475px) {
  
  
}

@media (min-width: 785px) {
  .carousel{
    display: none;
    background-color: var(--greenis--color);
  }
  .box{
    display: flex;
    padding: 0px;
    margin: 0px;
    flex-direction: column-reverse;

  }



 




  
}
@media (max-width: 782px) {
  .benifits-section {
    display: none;
  
}
.logos{
  display: none;
}

.single-logo{
  margin-left: 140px;
}













}
@media (max-width: 987px) {
  .hero-text .rating {
    font-size: 12px;
    font-weight: 400;
  }

  .hero-text .hero-main-text {
    font-size: 24px;
    font-weight: 900;
  }

  .hero-text .hero-para {
    font-size: 16px;
    font-weight: 300;
  }

  .from input {
    width: 450px;
  }

  .video-section {
    margin-top: 500px;
  }

  .video-header {
    font-size: 24px;
    font-weight: 900;
  }

  .info-profile-section {
    margin-top: 17px;
 
  }
}

@media (min-width: 998px) {
  .profile-section {
    width: 452px;
  }

  .tick {
    margin-left: 301px;
  }
  
}

@media (max-width: 1199px) {}

@media (min-width: 1536px) {}